@font-face {
	font-family: Roboto-Bold;
	src: url('../../fonts/roboto-bold-netservice.eot');
	src: url('../../fonts/roboto-bold-netservice.eot?#iefix') format('embedded-opentype'),
url('../../fonts/roboto-bold-netservice.woff') format('woff'),
url('../../fonts/roboto-bold-netservice.ttf') format('truetype'),
url('../../fonts/roboto-bold-netservice.svg#Roboto-Bold') format('svg');
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: Roboto-Medium;
	src: url('../../fonts/roboto-medium-netservice.eot');
	src: url('../../fonts/roboto-medium-netservice.eot?#iefix') format('embedded-opentype'),
url('../../fonts/roboto-medium-netservice.woff') format('woff'),
url('../../fonts/roboto-medium-netservice.ttf') format('truetype'),
url('../../fonts/roboto-medium-netservice.svg#Roboto-Medium') format('svg');
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: Roboto-Regular;
	src: url('../../fonts/roboto-regular-netservice.eot');
	src: url('../../fonts/roboto-regular-netservice.eot?#iefix') format('embedded-opentype'),
url('../../fonts/roboto-regular-netservice.woff') format('woff'),
url('../../fonts/roboto-regular-netservice.ttf') format('truetype'),
url('../../fonts/roboto-regular-netservice.svg#Roboto-Regular') format('svg');
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: Roboto-Thin;
	src: url('../../fonts/roboto-thin-netservice.eot');
	src: url('../../fonts/roboto-thin-netservice.eot?#iefix') format('embedded-opentype'),
url('../../fonts/roboto-thin-netservice.woff') format('woff'),
url('../../fonts/roboto-thin-netservice.ttf') format('truetype'),
url('../../fonts/roboto-thin-netservice.svg#Roboto-Thin') format('svg');
	text-rendering: optimizeLegibility;
}
body.poluzzi {
	background: gray;
	background-color:#313131;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position:50% 50%;
	font-family: "Roboto-Regular";

}
body.poluzzi .container {
	color: white;
	position: 50% 50%;
}
.body1{
	width: 100%;
	/*height: 100%;
	background: -webkit-radial-gradient(#205983, #0A2742);
	background: radial-gradient(#205983, #0A2742);*/

	background-color:#313131;
	background-image: url("../img/bg.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position:50% 50%;
	font-family: "Roboto-Regular";
}
#logo2{
	width: 200px;
	height: 80px;
}
#logo3{
	width: 250px;
	height: 80px;
}

#logo4{
	position:absolute;
	width: 200px;
	height: 80px;

}
.form-cerca-aula {
	text-align: center;
	color: #c0c0c0;
	width: 100%;
	height: 400px;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
.home1 {
	position:absolute;
	top:0;	
	float:right;
}
.footer {
	bottom: 0;
	margin-top: 100px;
}
html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.homeButton1{
	background-color:transparent !important;
	background:no-repeat;
	right:0;
	border:thin;
	float:right !important;
	cursor:pointer;
}

#jahveTitle1{
	font-family:"Roboto-Medium";
	font-size: 72px;
	margin-bottom: 0px;
}

#jahveDesc1{
	font-family:"Roboto-Thin";
	font-size: 48px;
	margin-bottom: 30px;
	margin-top: 0px;
}
.bottone {
	margin-top: 40px;
}
h1 .caps {
    color: #23ddc3;
    font-family:"Roboto-Regular";
}

a.jahve.btn{

	border-radius:50px;
	padding:2.2em 2.3em;
	color:#FFF;
	font-size:0.9em;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:3px;
	display:inline-block;
	background-color:#202020;
	margin-top: 40px;
	margin-right:15px;
	text-decoration:none;
	font: bold 14px Sans-Serif;
}
.copyright {
	padding: 20px 10px;
	text-align: center;
	font-style: italic;
	color: white;
	font-weight: bold;
}